@page
@model InterviewManagement.Pages.ims.recruitment.com.test.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.ContractFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.ContractFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.ContractTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.ContractTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Candidate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Candidate.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Position.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Schedule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Schedule.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Contract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Contract.ContractName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Department.DepertmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Level.LevelName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Offer?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
