@page
@model InterviewManagement.Pages.Schedules.EditModel

@{
    ViewData["Title"] = "Edit Schedule";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h1>Edit</h1>

<h4>Schedule</h4>

@if (Model.Schedule.Status == "Open")
{
    <div class="d-flex justify-content-end">
        <button class="btn btn-danger"><a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" class="delete" data-scheduleid="@Model.Schedule.Id" style="text-decoration: none;color: white">Cancel</a></button>
        <input type="hidden" name="scheduleId" id="scheduleId" value="@Model.Schedule.Id" />
    </div>
}


<div class="card bg-light">
    <div class="card-body">
        <form class="form-sample" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Schedule.Id" />
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Schedule title<span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input asp-for="Schedule.ScheduleName" class="form-control" />
                            <span asp-validation-for="Schedule.ScheduleName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Job<span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select asp-for="SelectedJobId" class="form-control">
                                @foreach (var job in Model.Jobs)
                                {
                                    <option value="@job.Id" selected="@(Model.Schedule.Job.Id == job.Id ? "selected" : null)">@job.JobName</option>
                                }
                            </select>
                            <span asp-validation-for="SelectedJobId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Candidate Name<span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select asp-for="SelectedCandidateId" class="form-control">
                                @foreach (var candidate in Model.Candidates)
                                {
                                    <option value="@candidate.Id" selected="@(Model.Schedule.Candidate.Id == candidate.Id ? "selected" : null)">@candidate.FullName</option>
                                }
                            </select>
                            <span asp-validation-for="SelectedCandidateId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Interviewer<span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select asp-for="SelectedInterviewerIds" class="form-control js-example-basic-multiple" multiple>
                                @foreach (var employee in Model.Employees)
                                {
                                    @if (employee.Role.Id == 1)
                                    {
                                        <option value="@employee.Id" selected="@(Model.Schedule.Employees.Any(js => js.Id == employee.Id) ? "selected" : null)">@employee.FullName</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="SelectedInterviewerIds" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Schedule Time<span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <div class="d-flex">
                                @* <label class="mr-3">From</label> *@
                                <input asp-for="Schedule.ScheduleTime" class="form-control" />
                                <span asp-validation-for="Schedule.ScheduleTime" class="text-danger"></span>
                                @* <label class="mr-3">To</label>
                                <input asp-for="Job.SalaryMax" class="form-control" />
                                <span asp-validation-for="Job.SalaryMax" class="text-danger"></span> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Location</label>
                        <div class="col-sm-9">
                            <input asp-for="Schedule.Location" class="form-control" />
                            <span asp-validation-for="Schedule.Location" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Note</label>
                        <div class="col-sm-9">
                            <textarea asp-for="Schedule.Note" class="form-control"></textarea>
                            <span asp-validation-for="Schedule.Note" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Recruiter Owner<span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select asp-for="Schedule.ModifiedBy" class="form-control">
                                @foreach (var employee in Model.Employees)
                                {
                                    @if (employee.Role.Id == 2)
                                    {
                                        <option value="@employee.FullName" selected="@(Model.Schedule.Employees.Any(js => js.Id == employee.Id) ? "selected" : null)">@employee.FullName</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="Schedule.ModifiedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="checkbox" asp-for="Schedule.IsDeleted" hidden />
                    <span asp-validation-for="Schedule.IsDeleted"></span>
                    <input type="text" asp-for="Schedule.Status" hidden />
                    <span asp-validation-for="Schedule.Status"></span>
                    <input type="text" asp-for="Schedule.Result" hidden />
                    <span asp-validation-for="Schedule.Status"></span>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Meeting ID</label>
                        <div class="col-sm-9">
                            <input asp-for="Schedule.MeetingURL" class="form-control" />
                            <span asp-validation-for="Schedule.MeetingURL" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-5">Submit</button>
                <a class="btn btn-secondary text-white" role="button" asp-page="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Delete">
                <div class="modal-body">
                    Are you sure you want to cancel this interview?
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Yes" />
                    <input type="hidden" name="scheduleId" id="modalScheduleId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();

            $('a.delete').on('click', function () {
                var scheduleId = $(this).data('scheduleid');
                $('#modalScheduleId').val(scheduleId);
            });

        });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}
